@media (max-width: 768px) {
  .logo h2 {
    font-size: 2.6rem;
  }

  .logo a img {
    width: 200px;
  }

  .main-box {
    justify-content: center;
    gap: 40px;
  }

  .col4 h2 {
    margin-top: 85px;
  }

  .col6 h2 {
    margin-top: 85px;
  }

  .director {
    justify-content: center;
    gap: 90px;
  }

  .col8 h2 {
    margin-top: 85px;
  }

  .foam {
    justify-content: center;
    gap: 40px;
  }

  .col11 h2 {
    margin-top: 85px;
    margin-bottom: 12px;
  }

  .name label input {
    width: 286px;
  }

}

@media (max-width: 640px) {

  .logo a img {
    width: 170px;
  }

  .logo h2 {
    font-size: 2.3rem;
  }

  .link {
    left: 90px;
    top: 80px;
  }

  .col1 {
    height: 740px;
  }

  .logo {
    height: 672px;
  }

  .col2 h2,
  .col4 h2,
  .col6 h2,
  .col8 h2,
  .col11 h2 {
    font-size: 3.8rem;
  }

    .name label input {
    width: 237px;
  }

}


@media (max-width: 480px) {

  .link {
    left: 70px;
    top: 149px;
  }

  .logo h2 {
    font-size: 1.7rem;
  }

  .col2 h2,
  .col4 h2,
  .col6 h2,
  .col8 h2,
  .col11 h2 {
    font-size: 3rem;
  }
  .name label input {
    width: 418px;
  }
  .email p {
     font-size: 1rem;

  }

}


@media (max-width: 360px) {

  .link {
    left: 60px;
    top: 159px;
  }

  .logo h2 {
    font-size: 1.2rem;
  }

  .col1 {
    height: 700px;
  }

  .logo {
    height: 630px;
  }

  .col2 h2,
  .col4 h2,
  .col6 h2,
  .col8 h2,
  .col11 h2 {
    font-size: 2.2rem;
    margin-top: 70px;
  }

  .name label input {
    width: 235px;
  }

  .name2 label {
    margin-left: 1%;
  }

  .send {
    width: 110px;
    height: 35px;
    margin-left: 1%;
    border-bottom: 4px solid #ba0103;
  }

  .send label input {
    font-size: 1.6rem;
    margin-top: 3px;
  }

  .email p {
    line-height: 25px;
  }

  .logo2 a img {
    width: 140px;
  }

  .icons li a {
    font-size: 1.2rem;
    padding: 9px 11px;
  }

  .bottom p {
    font-size: 0.79rem;
  }

  .col11 p {
    font-size: 1rem;
  }

  .break,
  .break2 {
    border-top: 60px solid #27a9e1;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
  }

  .break {
    border-top: 60px solid #ed1c24;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
  }

}


@media (max-width: 320px) {

  .link {
    left: 126px;
    top: 110px;
  }

  .logo h2 {
    font-size: 1.15rem;
  }

  .col2 h2,
  .col4 h2,
  .col6 h2,
  .col8 h2,
  .col11 h2 {
    font-size: 1.9rem;
    margin-top: 63px;
  }

  .faizi img {
    width: 200px;
  }

  .page1 {
    width: 300px;
  }

  .col11 p {
    font-size: 0.9rem;
  }

  .email p {
    line-height: 20px;
    font-size: 0.9rem;
  }

  .email a {
    font-size: 0.9rem;
  }

  .name label input {
    width: 210px;
  }

  .middle h2 {
    font-size: 2.3rem;
  }

  .middle p {
    font-size: 1rem;
    margin: 21px 0px;
  }

.name2 textarea {
  width: 83%;
}

.name2 label {
  margin-left: 3%;
}

.send{
  margin-left: 3%;
}


}  


