@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap');

@font-face {
    font-family: Myriad Pro;
    src: url(../fonts/MyriadPro/MYRIADPRO-REGULAR.OTF);
}
@font-face {
    font-family: HelveticaLTStd;
    src: url(../fonts/HelveticaLTStd/HelveticaLTStdRoman/);
}
@font-face {
    font-family: EthnocentricRg;
    src: url(../fonts/EthnocentricRg/ethnocentric\ rg.ttf);
}    
@font-face {
    font-family: ITCAvantGardePro;
    src: url(../fonts/ITCAvantGardePro/ITCAvantGardePro-Md.ttf);
} 
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    outline: none;
    background: none;
    border: none;
}
body{
    background: url(../images/back.jpg);
}
.wrapper{
    max-width: 990px;
    width: 100%;
    height: auto;
    margin: auto;
}
.col1{
    width: 100%;
    height: 800px;
    background: url(../images/header01.jpg) no-repeat;
    background-size: cover;
}
.link{
    position: absolute;
    left: 105px;
    top: 70px;
}
.link ul li{
    line-height: 30px;
    font-size: 3.1rem;
    color: #4c4f4b;
}
.link ul li a{
    font-size: 1.2rem;
    font-family: Open Sans;
    color: #4e544e;
    float: left;
}
.link ul li:hover{
    color: #ed1c24;
}
.link ul li:hover a{
    color: #fff;
    margin-left: -10px;
}
.logo{
    width: 100%;
    height: 723px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo img{
    margin-top: 80px;
}
.logo h2{
    font-size: 3.6rem;
    font-family: ITCAvantGardePro;
    color: #fff;
}
.col2{
    width: 100%;
}
.col2 h2{
    font-size: 4.1rem;
    font-family: EthnocentricRg;
    color: #ed1c24;
    text-align: center;
    margin-top: 130px;
    margin-bottom: 40px;
}
.col2 h2 span{
    color: #000;
}
.col3{
    width: 100%;
    background-color: #ed1c24;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.break{
    width: 0px;
    height: 0px;
    border-top: 85px solid #ed1c24;
    border-left: 65px solid transparent;
    border-right: 65px solid transparent;
    margin: auto;
}
.main-box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 0px;
}
.box{
    width: 215px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-box{
    width: 96px;
    height: 96px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box h2{
    font-size: 1.8rem;
    font-family: Bebas Neue;
    font-weight: normal;
    color: #fff;
    margin-top: 25px;
    margin-bottom: 35px;
}
.box p{
    width: 210px;
    font-size: 0.8rem;
    font-family: ITCAvantGardePro;
    color: #fff;
    text-align: justify;
}
.box p span{
    padding: 0px 55px;
}
.col4{
    width: 100%;
}
.col4 h2{
    font-size: 4.1rem;
    font-family: EthnocentricRg;
    color: #27a9e1;
    text-align: center;
    margin-top: 130px;
    margin-bottom: 40px;
}
.col4 h2 span{
    color: #000;
}
.col5{
    width: 100%;
    background-color: #27a9e1;
    text-align: center;
}
.middle{
    width: 100%;
    padding: 30px 0px;
}
.middle h2{
    font-size: 2.5rem;
    font-family: Bebas Neue;
    color: #fff;
    font-weight: normal;
}
.middle p{
    font-size: 1.1rem;
    font-family: ITCAvantGardePro;
    color: #fff;
    margin: 25px 0px;
}
.break2{
    width: 0px;
    height: 0px;
    border-top: 85px solid #27a9e1;
    border-left: 65px solid transparent;
    border-right: 65px solid transparent;
    margin: auto;
}
.col6{
    width: 100%;
}
.col6 h2{
    font-size: 4.1rem;
    font-family: EthnocentricRg;
    color: #ed1c24;
    text-align: center;
    margin-top: 130px;
    margin-bottom: 40px;
}
.col6 h2 span{
    color: #000;
}
.col7{
    width: 100%;
    background-color: #ed1c24;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.director{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 0px;         
}
.faizi{
    width: 285px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.faizi h2{
    font-size: 2.5rem;
    font-family: Bebas Neue;
    color: #fff;
    font-weight: normal;
}
.faizi h3{
    font-size: 1.2rem;
    font-family: ITCAvantGardePro;
    color: #fff;
    font-weight: normal;
    margin-top: 10px;
    
}
.col8{
    width: 100%;
}
.col8 h2{
    font-size: 4.1rem;
    font-family: EthnocentricRg;
    color: #27a9e1;
    text-align: center;
    margin-top: 130px;
    margin-bottom: 40px;
}
.col8 h2 span{
    color: #000;
}
.col9{
    width: 100%;
    background-color: #27a9e1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.foam{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 50px 0px;
    flex-wrap: wrap;
}
.page1{
    width: 317PX;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    
}
.page1 h2{
    font-size: 2.1rem;
    font-family: Bebas Neue;
    color: #27a9e1;
    text-align: center;
    font-weight: normal;
    margin-top: 25px;
}
.page1 h2 span{
    color: #000;
}

.page1 p{
    width: 285px;
    height: 119px;
    font-size: 0.7rem;
    font-family: ITCAvantGardePro;
    color: #46bef1;
    line-height: 21px;
    text-align: justify;
    margin: 0px auto;
    
    
}
.page1 p span{
    color: #000;
    margin: auto;
    text-decoration: underline;
    display: block;
    text-align: center;
}
.page1 a{
    font-size: 1.0rem;
    font-family: Bebas Neue;
    color: #fff;
    background-color: #1c98cd;    
    font-weight: normal;
    text-align: center;
    padding: 12px 122px;
    margin-top: 15px;
    display: inline-block;
}
.col11{
    width: 100%;
}
.col11 h2{
    font-size: 4.1rem;
    font-family: EthnocentricRg;
    color: #ed1c24;
    text-align: center;
    margin-top: 130px;
    margin-bottom: 25px;
}
.col11 h2 span{
    color: #000;
}
.col11 p{
    font-size: 1.3rem;
    font-family: ITCAvantGardePro;
    color: #939292;
    text-align: center;
    margin-bottom: 25px;
}
.col10{
    width: 100%;
    background-color: #ed1c24;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.email{
    width: 100%;
    margin-top: 30px;
}
.email h2{
    font-size: 2.5rem;
    font-family: Bebas Neue;
    color: #fff;
    text-align: center;
    font-weight: normal;
    
}
.email p{
    font-size: 1.1rem;
    font-family: ITCAvantGardePro;
    color: #fff;
    text-align: center;
    line-height: 18px;
}
.email a{
    font-size: 1.1rem;
    font-family: ITCAvantGardePro;
    color: #000;
    margin: auto;
    text-decoration: underline;
    display: block;
    text-align: center;
}
.info{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 30px;
}
.main{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.name{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 20px;
}
.name label,
.name2 label{
    font-size: 1.8rem;
    font-family: Bebas Neue;
    color: #fff;
    display: inline-block;
}
.name label input{
    width: 375px;
    height: 50px;
    font-size: 1.1rem;
    font-family: ITCAvantGardePro;
    color: #ff5f65;
    border: 2px solid #fff;
    padding: 0px 15px;
    border-radius: 7px;
}
.name2{
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    margin-top: 27px;
    flex-wrap: wrap;
    
}
.name2 textarea{
    width: 88%;
    height: 136px;
    font-size: 1.1rem;
    font-family: ITCAvantGardePro;
    color: #f8444b;
    border: 2px solid #fff;
    padding: 15px;
    border-radius: 7px;
    margin: auto;
}
.name2 label{
    font-size: 1.8rem;
    font-family: Bebas Neue;
    color: #fff;
    display: inline-block;
    margin-left: 4.1%;
}
.send{
    width: 170px;
    height: 40px;
    background-color: #fff;
    border-bottom: 7px solid #ba0103;
    border-radius: 5px;
    margin-top: 16px;
    margin-left: 4.2%;
}
.send label{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.send label input{
    font-size: 1.8rem;
    font-family: Bebas Neue;
    color: #ed1c24;
}
.col12{
    width: 100%;
    background-color: #3f3d3d;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 125px;
    flex-wrap: wrap;
}
.bottom{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px 0px;
}
.icons{
    display: flex;
    gap: 45px;
    list-style-type: none;
    margin-top: 25px;
    flex-wrap: wrap;
}
.icons li{
    background-color: #202020;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}
.icons li a{
    font-size: 1.5rem;
    color: #fff;
    display: inline-block;
    padding: 10px 15px;
}
.icons li:hover{
    background-color: #fff;
}
.icons li a:hover{
    color: #000;
}
.bottom p{
    font-size: 1.1rem;
    font-family: Open Sans;
    color: #fff;
    margin-top: 16px;
}